.place__link {
  display: block;
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
  transition: .2s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}