.place__website {
  align-self: end;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  justify-self: start;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .place__website {
    margin: 0 16px;
  }
}